JWT_SECRET=dev_jwt_secret_change_me
INTERNAL_SERVICE_TOKEN=dev_internal_token_change_me

AMQP_URL=amqp://guest:guest@localhost:5672
BOOKING_EVENTS_EXCHANGE=booking_events

USER_PORT=4001
USER_DATABASE_PATH=./data/user.sqlite

RESTAURANT_PORT=4002
RESTAURANT_DATABASE_PATH=./data/restaurant.sqlite

BOOKING_PORT=4003
BOOKING_DATABASE_PATH=./data/booking.sqlite

USER_SERVICE_URL=http://127.0.0.1:4001
RESTAURANT_SERVICE_URL=http://127.0.0.1:4002

NOTIFICATION_DATABASE_PATH=./data/notification.sqlite
