PORT=3005
SERVICE_NAME=vacancy
JWT_SECRET=lab2_secret
SERVICE_TOKEN=lab2_service_secret
COMPANY_SERVICE_URL=http://localhost:3002
DB_HOST=localhost
DB_PORT=5434
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=vacancy_db
