node_modules/
dist/
coverage/
dbs/postgres-data/
dbs/postgres18-data/

.env
.env.*
!.env.example

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db

.idea/
.vscode/

*.tsbuildinfo
