PORT=8083
DB_URL=postgres://rental:rental@localhost:5435/rental_db?sslmode=disable
JWT_SECRET=dev_secret_change_me
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
PROPERTY_SERVICE_URL=http://localhost:8082
AUTH_SERVICE_URL=http://localhost:8081
