<configuration>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="bookcrossing"/>
    <property name="LOG_PATH" value="${LOG_PATH:-logs}"/>

    <appender name="CONSOLE_PLAIN" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{requestId:-} %X{userId:-}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE_COLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) [%X{requestId:-} %X{userId:-}] %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/app.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{requestId:-} %X{userId:-}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>

    <springProfile name="dev">
        <logger name="io.github.artsobol" level="DEBUG"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE_COLOR"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

    <springProfile name="local">
        <logger name="io.github.artsobol" level="DEBUG"/>
        <root level="DEBUG">
            <appender-ref ref="CONSOLE_COLOR"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

    <springProfile name="default">
        <logger name="io.github.artsobol" level="INFO"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE_COLOR"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <logger name="io.github.artsobol" level="INFO"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE_PLAIN"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

</configuration>