PORT=3006
SERVICE_NAME=application
JWT_SECRET=lab2_secret
SERVICE_TOKEN=lab2_service_secret
VACANCY_SERVICE_URL=http://localhost:3005
RESUME_SERVICE_URL=http://localhost:3004
RABBITMQ_URL=amqp://guest:guest@localhost:5672
DB_HOST=localhost
DB_PORT=5434
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=application_db
