RECIPEHUB_PORT=8080
RECIPEHUB_IMAGE_TAG=local
RECIPEHUB_IMAGE_VERSION=local

IDENTITY_SERVICE_PORT=8081
CATALOG_SERVICE_PORT=8082
RECIPE_SERVICE_PORT=8083
BLOG_SERVICE_PORT=8084
ENGAGEMENT_SERVICE_PORT=8085

IDENTITY_SERVICE_HTTP_ADDR=:8081
CATALOG_SERVICE_HTTP_ADDR=:8082
RECIPE_SERVICE_HTTP_ADDR=:8083
BLOG_SERVICE_HTTP_ADDR=:8084
ENGAGEMENT_SERVICE_HTTP_ADDR=:8085

IDENTITY_SERVICE_URL=http://127.0.0.1:8081
CATALOG_SERVICE_URL=http://127.0.0.1:8082
RECIPE_SERVICE_URL=http://127.0.0.1:8083
BLOG_SERVICE_URL=http://127.0.0.1:8084
ENGAGEMENT_SERVICE_URL=http://127.0.0.1:8085

IDENTITY_SERVICE_DATABASE_URL=postgres://recipehub:recipehub@127.0.0.1:5433/recipehub_identity?sslmode=disable
CATALOG_SERVICE_DATABASE_URL=postgres://recipehub:recipehub@127.0.0.1:5433/recipehub_catalog?sslmode=disable
RECIPE_SERVICE_DATABASE_URL=postgres://recipehub:recipehub@127.0.0.1:5433/recipehub_recipe?sslmode=disable
BLOG_SERVICE_DATABASE_URL=postgres://recipehub:recipehub@127.0.0.1:5433/recipehub_blog?sslmode=disable
ENGAGEMENT_SERVICE_DATABASE_URL=postgres://recipehub:recipehub@127.0.0.1:5433/recipehub_engagement?sslmode=disable

POSTGRES_PORT=5433
POSTGRES_USER=recipehub
POSTGRES_PASSWORD=recipehub
POSTGRES_DB=recipehub_admin

JWT_ACCESS_SECRET=change-me
JWT_REFRESH_SECRET=change-me
JWT_ACCESS_TTL_SEC=3600
JWT_REFRESH_TTL_SEC=604800
SERVICE_TOKEN=change-me-service-token
