# DB Settings
DB_URL=url
DB_USERNAME=username
DB_PASSWORD=password

# JWT Settings
JWT_SECRET=secret

# Mail Settings
MAIL_USERNAME=username
MAIL_PASSWORD=password
MAIL_HOST=smtp.gmail.com

# Email Verification Token Settings
EMAIL_VERIFICATION_TTL=1d
EMAIL_VERIFICATION_PEPPER=pepper

# Password Reset Token Settings
PASSWORD_RESET_TTL=1d
PASSWORD_RESET_PEPPER=pepper

# Refresh Token Settings
REFRESH_TTL=30d
REFRESH_PEPPER=pepper
