APP_HOST=localhost
APP_PORT=8000
APP_PROTOCOL=http
APP_API_PREFIX=/api/v1
APP_CONTROLLERS_PATH=/controllers/*.controller.ts

DB_HOST=localhost
DB_PORT=15432
DB_NAME=maindb
DB_USER=maindb
DB_PASSWORD=maindb
DB_ENTITIES=src/models/*.entity.ts
DB_SUBSCRIBERS=src/models/*.subscriber.ts
DB_MIGRATIONS=src/migrations/*.ts

POSTGRES_DB=maindb
POSTGRES_USER=maindb
POSTGRES_PASSWORD=maindb

JWT_SECRET_KEY=super-secret-key
JWT_TOKEN_TYPE=Bearer
JWT_ACCESS_TOKEN_LIFETIME=3600
