PORT=3004
DB_DATABASE=plan.db

JWT_SECRET=super_secret_change_me

# куда ходить за тренировками (sync HTTP)
CATALOG_SERVICE_URL=http://localhost:3003

# plan ничего не публикует наружу
EVENT_SUBSCRIBERS=
