RECIPEHUB_PORT=8080
RECIPEHUB_IMAGE_TAG=local
RECIPEHUB_IMAGE_VERSION=local

POSTGRES_PORT=5433
POSTGRES_USER=recipehub
POSTGRES_PASSWORD=recipehub
POSTGRES_DB=recipehub_admin

IDENTITY_SERVICE_DATABASE_URL=postgres://recipehub:recipehub@postgres:5432/recipehub_identity?sslmode=disable
CATALOG_SERVICE_DATABASE_URL=postgres://recipehub:recipehub@postgres:5432/recipehub_catalog?sslmode=disable
RECIPE_SERVICE_DATABASE_URL=postgres://recipehub:recipehub@postgres:5432/recipehub_recipe?sslmode=disable
BLOG_SERVICE_DATABASE_URL=postgres://recipehub:recipehub@postgres:5432/recipehub_blog?sslmode=disable
ENGAGEMENT_SERVICE_DATABASE_URL=postgres://recipehub:recipehub@postgres:5432/recipehub_engagement?sslmode=disable

RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

JWT_ACCESS_SECRET=change-me
JWT_REFRESH_SECRET=change-me
JWT_ACCESS_TTL_SEC=3600
JWT_REFRESH_TTL_SEC=604800
SERVICE_TOKEN=change-me-service-token
EVENTS_EXCHANGE=recipehub.events
