PORT=3003
DB_DATABASE=catalog.db

JWT_SECRET=super_secret_change_me

# подписки fanout
EVENT_SUBSCRIBERS=workout.deleted->http://localhost:3004/internal/events,workout.updated->http://localhost:3004/internal/events
