JWT_SECRET=change-me-to-long-random-string
INTERNAL_KEY=dev-internal-key
RABBITMQ_URL=amqp://guest:guest@localhost:5672

AUTH_URL=http://localhost:3001
CATALOG_URL=http://localhost:3002
DEALS_URL=http://localhost:3003
MESSAGING_URL=http://localhost:3004

GATEWAY_PORT=3000

AUTH_PORT=3001
AUTH_DB_HOST=localhost
AUTH_DB_PORT=5433
AUTH_DB_USER=rent
AUTH_DB_PASS=rent
AUTH_DB_NAME=auth_db

CATALOG_PORT=3002
CATALOG_DB_HOST=localhost
CATALOG_DB_PORT=5434
CATALOG_DB_USER=rent
CATALOG_DB_PASS=rent
CATALOG_DB_NAME=catalog_db

DEALS_PORT=3003
DEALS_DB_HOST=localhost
DEALS_DB_PORT=5435
DEALS_DB_USER=rent
DEALS_DB_PASS=rent
DEALS_DB_NAME=deals_db

MESSAGING_PORT=3004
MESSAGING_DB_HOST=localhost
MESSAGING_DB_PORT=5436
MESSAGING_DB_USER=rent
MESSAGING_DB_PASS=rent
MESSAGING_DB_NAME=messaging_db
